* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(0deg, #212121 87%, rgba(33, 33, 33, 1) 87%);
    font-family: 'Francois One', sans-serif;
  }

  /* css for header */

  .header {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgb(246, 34, 34);
    display: flex;
    gap: 5px;
    justify-content: center;
    background: linear-gradient(45deg, red, black, blue, black);
    background-size: 400% 400%;
    animation: gradient-animation 20s ease infinite,
    wave-animation 5s ease-in-out infinite;
    transition: top 0.3s;
}

.header.active {
  top: 0;
}

@media (min-width: 600px) {
  .header {
      display: none;
  }
}

  .header span {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
  }

  .header img {
    height: 70px;
    width: 70px;
    margin: 1px;
    display: flex;
    align-items: center;
    border: 0.1px solid rgb(237, 236, 236);
    border-radius: 10px;
  }


   
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes wave-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

  /* css for share button */
   
  .share-button {
    border: none;
    display: flex;
    justify-content: right;
}

.share-button-img {
  cursor: pointer;
  color: #ed0a0a;
  border-radius: 10%;
  padding: 10px 10px;
  margin-right: 10px;
  width: 20px;
}

.share-button-img:hover {
  color: #f2bf08;
}

/* css for profile Container */
  
  .profile-container {
    border: none;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

   #profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0.1px solid white;
    box-shadow: 0px 4px 6px White;
}

   #profile-image img:hover {
    border: 0.1px solid rgb(8, 155, 253);
    box-shadow: 0px 5px 7px #06c2f7;
}


     
  .box {
    border:none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #faf5f5;
    }

   /* css for Username */

    .username {
      border: none;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 24px;
      color: white;
      display: grid;
      justify-content: center;
      text-align: center;
      grid-template-columns: 1fr;
  }

  .username span::after, .header span::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("assets/Verify.png");
    background-size: cover;
    margin-left: 5px;
    vertical-align: middle;
  }

 
/* css for Social media boxes */

  .social-link-container {
    border: none;
    display: grid;
    padding: 10px;
    gap: 15px;
    justify-content: center;
    grid-template-columns:minmax(200px,500px);
  }
    
  .social-link-box {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 438, 0.2));
    box-shadow: 0px 2px 4px White;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 60px auto 60px;
    align-items: center;
    transform: scale(1);
    transition: transform 0.1s;
    }

    .social-link-box:hover {
      transform: scale(1.03);
    }
    

    .icon-container {
      font-size: 40px;
      padding: 5px;
      border-radius: 8.5px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      color: white;
    }

    #igram-logo:hover {
      background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    }


    #igram:hover {
      background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    }
    

    #fbook:hover {
      background: #3b5998;
    }

    #tgram:hover {
      background: #0088cc;
    }

    #tgram-logo:hover {
      color: #0088cc;
      background-color: white;
    }


    #twitter:hover {
      background: #1DA1F2;
    }

    #twitter-logo:hover {
      background-color: black;
    }


    #yt:hover {
      background: #CD201F;
    }

    #yt-logo:hover {
      color: #CD201F;
      background-color: white;
    }


    .text-container {
      border: none;
      font-size: large;
      text-align: center;
      color: white;
    }

    .extra-container {
      border: none;
      color: #f6f2f2;
    }


/* css for other link boxes */

.other-link-container {
  border: none;
  display: grid;
  padding: 10px;
  gap: 15px;
  justify-content: center;
  grid-template-columns:minmax(200px,500px);
}
  
.other-link-box {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 438, 0.2));
  box-shadow: 0px 2px 4px rgb(5, 180, 244);
  border: 2px solid rgb(243, 246, 247);;
  border-radius: 10px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 60px auto 60px;
  align-items: center;
  transform: scale(1);
  transition: transform 0.01s;
  }

  .other-link-box:hover {
    transform: scale(1.03);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 438, 1));
    border: solid rgb(9, 170, 250);
  }
  

  .other-icon-container i {
    font-size: 40px;
    padding: 5px;
    border-radius: 8.5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
  }

  

 